registry=https://registry.npmmirror.com/
shamefully-hoist=true
ignore-workspace-root-check=true
link-workspace-packages=true
shamefully-hoist=true
virtual-store-dir = node_modules
strict-store-pkg-content-check=false
